@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  --color-white: #feefdd;
  --color-brown: #e27802;
  --color-black: #000;
  --color-black-light: rgba(231, 210, 210, 0.781);


  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Bangers", cursive;
  font-size: 1rem;
  background-color: var(--color-brown);
}

h1 {
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-size: 2.3rem;
  margin: 0;
}

