@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  --color-white: #fff8e8;
  --color-brown: #e27802;
  --color-black: #000;
  --color-black-light: #e2790241;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Bangers", cursive;
  font-size: 1rem;
  background-color: var(--color-brown);
}

h1 {
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-size: 2.3rem;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
}
